body {
    font-family: "Helvetica", sans-serif;
    background: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    padding: 4rem 6rem 4rem 10rem;
    font-size: 16px;
    line-height: 1.2;
}

header > .site:first-of-type {
    border-bottom: 2px solid #000;
}

article h1 {
    font-weight: normal;
}

.site-title {
    display: inline-block;
    padding-right: 5vw;
    font-weight: bold;
    text-transform: uppercase;
}

.site-title a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #000;
    font-weight: bold;
}

.align-right {
    float: right;
    margin: 0 0 1rem 1rem;
}

.align-left {
    float: left;
    margin: 0 1rem 1rem 0;
}

.align-left, .align-right {
    max-width: 100%;
    height: auto;
    border: 0.2rem black solid;
    padding: 0.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
}

/* different method 
img[class^="align"] {
    max-width: 100%;
    height: auto;
    border: 0.2rem black solid;
    padding: 0.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
}
*/

h1 {
    font-family: "Georgia", sans-serif;

}


blockquote {
    float: right;
    max-width: 47%;
    font-family: "Georgia", sans-serif;
    border-left: 4px solid rgb(221,221,221);
    margin: 0 0 1rem 2.5rem;
    padding: 0 0 0 1.5rem;
    font-style: italic;
}

blockquote .author { text-align: right; }


