html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

body {
    background: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: block;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
    border-radius: 0.3rem;
    overflow: hidden;
    width: 22rem;
}

.card h1 {
    font-family: "Georgia", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

