
.c-footer {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	background-color: $background-color-dark-grey;
	text-align: center;

	.e-paragraph {
		margin: 0;
		margin: 0.5% 0;
		color: $primery-color-white;
		font-size: 32px;
	}
}