
form > fieldset > .button {
    background: #333;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: 2rem 0 0 1rem;
}

form > fieldset > .button:hover { background: #090; }

form > fieldset > .button:active {
    box-shadow: 0 0 1rem 0 rgba(136, 245, 163, 0.9);
    background: rgb(238, 238, 238);
    color: #090;
    border: 1px solid #090;
}