$red: #F41311;
$grey: #B7B7B6;
$background-main-white: #FEFEFE;
$background-input: #F9F9F9;

@mixin box-shadow {
	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.6);
	box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.6);
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/open-sans/OpenSans-Regular.eot') format('embedded-opentype');
	src: url('./fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
	src: url('./fonts/open-sans/OpenSans-Regular.woff') format('woff');
	src: url('./fonts/open-sans/OpenSans-Regular.woff2') format('woff2');
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 100%;
	height: 100vh;
	margin: 0;
	box-sizing: border-box;
}

h4, button, input {
	font-family: 'Open Sans';
}

.container {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 100%;
	background-image: url('./images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
}

.container-form {
	width: 680px;
	height: 620px;
	margin-top: 1.5%;
	background-color: $background-main-white;
	@include box-shadow;
	border-radius: 5px;
	padding: 2.5%;
}

h4 {
	color: $red;
	font-size: 20px;
	margin-top: 0;
}

.autumn {
	color: $red;
	text-transform: uppercase;
	font-size: 20px;
}

.fullName-label,
.email-label,
.password-label,
.card-number-label {
	display: block;
	width: 100%;
	height: 50px;
	margin: 3% 0;
}

input {
	display: inline-block;
	width: 100%;
	outline: none;
	background-color: $background-input;
	border: 1px solid $grey;
	border-radius: 3px;
	padding: 15px 10px 15px 50px;
	transition: 1s;

	&:focus {
		border-color: $red;
	}

	&:focus ~ .fa-user {
		color: $red;
	}
}

.full-name:focus ~ .fa-user {
	color: $red;
	border-color: $red;
	transition: 1s;
}

.email-adress:focus ~ .fa-envelope {
	color: $red;
	border-color: $red;
	transition: 1s;
}

.password:focus ~ .fa-key {
	color: $red;
	border-color: $red;
	transition: 1s;
}

.fa-user,
.fa-envelope,
.fa-key,
.fa-credit-card {
	position: relative;
	color: $grey;
	padding: 10px;
	background-color: $background-input;
	border-right: 1px solid $grey;
	top: -42px;
	left: 5px;
	transition: 1s;
}

.card-number:focus ~ .fa-credit-card {
	color: $red;
	border-color: $red;
	transition: 1s;
}

.container-btn-cards {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 4%;
}

.credit-card-btn,
.paypal-btn {
	cursor: pointer;
	flex-grow: 1;
	padding: 20px 30px;
	border: 1px solid $grey;
	border-radius: 3px;
	color: $grey;
	transition: all ease-out 0.3s;

	&:hover {
		background-color: $red;
		color: $background-main-white;
	}
}

.contaienr-send-btn {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.send-btn {
	cursor: pointer;
	width: 50%;
	padding: 20px 30px;
	background-color: $red;
	color: $background-main-white;
	outline: none;
	border: 1px solid $grey;
	border-radius: 3px;
	transition: all ease-out 0.3s;

	&:hover {
		background-color: $background-main-white;
		border-color: $red;
		color: red;
	}
}


