
$primery-color-white: #FFFDFF;
$secondary-color-grey: #616667;
$third-color-skyblue: #57BDD3;
$four-color-dark-skyblue: #709FAF;

$background-color-light-grey: #EFEFEF;
$background-color-grey: #4C4C4C;
$background-color-dark-grey: #323232;