html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    background: rgb(238, 238, 238);
    padding: 2rem;
}

.container {
    margin: 11rem;
}

.container h2 {
    font-family: "Georgia", sans-serif;
    font-weight: normal;
    margin-bottom: 0;
}

.cards-layout.masonry {
    padding: 1em 0 0 0;
    column-count: 3;
    column-gap: 1em;
}

.cards-layout.masonry .card {
    display: inline-block;
    text-decoration: none;
    border-radius: 0.4rem;
    color: #000;
    width: 98%;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);

    break-inside: avoid;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    margin: 1rem;
}

.card span {
    display: block;
}

.cards-layout.masonry .card-inner {
    border-radius: 0.4rem;
    background: #FFF;
}

.card-meta .title,
.card-meta .desc,
.card-footer {
    padding: 0.8rem 2rem;
}

.card-meta .title {
    font-size: 1.2rem;
    padding-top: 1.2rem;
    padding-bottom: 0;
}

.cards-layout.masonry .card-meta {
    padding: 0;
}

.cards-layout.masonry .card-media img {
    display: block;
    width: 100%;
    position: relative;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.card-footer {
    border-top: 2px solid rgb(238, 238, 238);
}

/* -------------------------- */

.cards-layout.flex {
    display: flex;
    flex-wrap: wrap;
}

.cards-layout.flex a {
    text-decoration: none;
    color: #000;
}

.cards-layout.flex .card {
    display: flex;
    max-width: 28%;
    min-width: 10%;
    margin: 0.5rem;
    position: relative;
}

.cards-layout.flex .card-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
    border-radius: 0.4rem;
    background: #FFF;

}

.cards-layout.flex .card-media {
    display: flex;
    background: #fff;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.cards-layout.flex .card-media:after {
    display: block;
    content: '';
}

.cards-layout.flex .card-media img {
    display: block;
    position: relative;
    width: 100%;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.cards-layout.flex .card-footer {

}