
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.animation {
    width: 8rem;
    height: 8rem;
    background: orange;
    border-radius: 50%;
    /* short syntax */
    animation: transform 2s ease-out infinite alternate none running;
    /* normal syntax */
    /* animation-name: transform;
	animation-duration: 2s;
	animation-timing-function: ease-out; 
   	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: none;
	animation-play-state: running; */
}

@keyframes transform {
	from {

	}

	to {
		background: purple;
		border-radius: 0;
		width: 13rem;
		height: 13rem;
    }
}