body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .box {
    width: 10rem;
    height: 10rem;
    background: purple;
    border-radius: 50%;
    animation: transform 2s ease-out  1s infinite alternate none running;
  }
  
  @keyframes transform {
    from {
      
    }
    
    to {
      background: orange;
      border-radius: 0;
      width: 13rem;
      height: 13rem;
    }
  }